openapi: 3.0.3
info:
  title: SGRC — Sistema de Gestión y Reserva de Computadoras Educativas
  version: "1.0.0"
  description: |
    API mono-institucional para gestión de inventario y reservas de equipos
    informáticos. Monolito modular — un solo servicio, un solo dominio de datos.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://sgrc.tuinstitucion.edu.ar
    description: Producción

tags:
  - name: auth
    description: Autenticación y gestión de usuarios
  - name: academic
    description: Ciclos lectivos, cursos, materias, asignaciones de docentes
  - name: inventory
    description: Carros, PCs e incidencias
  - name: reservations
    description: Reservas simples, recurrentes y bloqueos
  - name: notifications
    description: Notificaciones internas
  - name: reports
    description: Reportes y estadísticas de uso
  - name: availability
    description: Horario de disponibilidad de Admins (informativo)

# ─────────────────────────────────────────
# COMPONENTES REUTILIZABLES
# ─────────────────────────────────────────
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # Paginación (internal/shared/paginacion). Solo la usan los tres listados
  # que crecen con el uso: reservas, notificaciones y usuarios. Los demás
  # —ciclos, cursos, materias, carros, PCs— están acotados por el propio
  # dominio (los carga un Admin a mano) y se devuelven completos.
  parameters:
    page:
      in: query
      name: page
      description: Número de página, 1-based. Un valor inválido devuelve 400.
      schema: { type: integer, minimum: 1, default: 1 }
    pageSize:
      in: query
      name: pageSize
      description: |
        Filas por página. El techo es 200: sin él, el parámetro no protegería
        de nada. Un valor inválido devuelve 400.
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }

  schemas:
    # NOTA: la API NO devuelve un cuerpo JSON en los errores. El handler
    # por defecto de Fiber v2 responde `c.Status(code).SendString(msg)`, así
    # que el body de un 4xx/5xx es TEXTO PLANO (Content-Type: text/plain) y
    # el texto ES el mensaje. Verificado contra el backend corriendo, no
    # inferido del código. Este esquema se conserva solo como referencia de
    # los mensajes posibles; ningún endpoint lo referencia.
    ErrorResponse:
      type: string
      description: |
        Mensaje de error en texto plano. Ejemplos reales:
        "credenciales inválidas", "email ya registrado",
        "uno o más equipos ya tienen una reserva en ese horario".

    ResultadoCascada:
      type: object
      description: |
        Lo que dejó una operación que saca un equipo de circulación (RF-03.8 y
        RF-03.9). Cero en ambos campos es lo normal: significa que no había
        ninguna reserva futura que cancelar.
      properties:
        reservasCanceladas: { type: integer }
        docentesNotificados: { type: integer }

    PaginationMeta:
      type: object
      description: |
        `total` es la cantidad de filas que matchean el filtro, NO las de esta
        página: es lo único con lo que el cliente sabe si hay una siguiente.
      properties:
        total: { type: integer }
        page: { type: integer }
        pageSize: { type: integer }

    # ── Auth ──
    RegistroRequest:
      type: object
      required: [nombre, apellido, email, password]
      properties:
        nombre: { type: string, maxLength: 100 }
        apellido: { type: string, maxLength: 100 }
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        cursoSolicitado:
          type: string
          maxLength: 100
          description: |
            Qué curso va a dictar. Texto libre y opcional: al registrarse la
            persona no está autenticada, así que no puede elegir de una lista
            —y lo que declara puede no existir todavía en el sistema—. Es lo
            que el Admin lee al aprobarla para saber a qué asignarla
            (RF-02.6), no una referencia.
        materiaSolicitada:
          type: string
          maxLength: 100
          description: Igual que cursoSolicitado, para la materia.

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    LoginResponse:
      type: object
      properties:
        token: { type: string, description: "JWT — presente solo si la cuenta está APROBADA" }
        debeCambiarPassword: { type: boolean, description: "Si es true, el frontend debe forzar la pantalla de cambio de contraseña antes de dejar operar el resto del sistema (RF-01.1/RF-01.6)" }

    Usuario:
      type: object
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string }
        apellido: { type: string }
        email: { type: string }
        rol: { type: string, enum: [ADMIN, DOCENTE] }
        estado: { type: string, enum: [PENDIENTE, APROBADA, RECHAZADA, BAJA] }
        fechaRegistro: { type: string, format: date-time }
        fechaAprobacion: { type: string, format: date-time, nullable: true }
        debeCambiarPassword: { type: boolean }
        cursoSolicitado:
          type: string
          description: Lo que declaró al registrarse (RF-01.3). Ausente si no lo completó.
        materiaSolicitada:
          type: string
          description: Ídem, para la materia.
        tienePassword:
          type: boolean
          description: |
            Si la cuenta puede ingresar con email y contraseña. Es false en las
            creadas con Google, que no tienen ninguna: la pantalla de perfil usa esto
            para no ofrecerles "cambiar contraseña" (que respondería 409).
        vinculadaAGoogle:
          type: boolean
          description: |
            Si la cuenta puede ingresar con Google. Las dos formas no son excluyentes.
            Nunca se expone el identificador de la cuenta de Google en sí.

    # ── Academic ──
    CicloLectivo:
      type: object
      properties:
        id: { type: string, format: uuid }
        anio: { type: integer }
        activo: { type: boolean }
        archivado: { type: boolean }

    Curso:
      type: object
      properties:
        id: { type: string, format: uuid }
        cicloLectivoId: { type: string, format: uuid }
        nombre: { type: string, pattern: '^[1-6]°[A-Z]$', example: "1°A" }
        activo: { type: boolean }
        archivado: { type: boolean }
        materias: { type: array, items: { $ref: '#/components/schemas/Materia' } }

    Materia:
      type: object
      properties:
        id: { type: string, format: uuid }
        cursoId: { type: string, format: uuid }
        nombre: { type: string }
        activo: { type: boolean }
        archivado: { type: boolean }

    DocenteMateria:
      type: object
      properties:
        id: { type: string, format: uuid }
        usuarioId: { type: string, format: uuid }
        nombre: { type: string }
        apellido: { type: string }
        rol: { type: string, enum: [TITULAR, SUPLENTE] }

    # ── Inventory ──
    Carro:
      type: object
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string }
        descripcion: { type: string, nullable: true }

    Equipo:
      type: object
      properties:
        id: { type: string, format: uuid }
        etiqueta: { type: string, example: "PC 27", description: "Cómo se lo nombra en pantallas y correos: 'PC {identificador}' si está en un carro, el nombre si no. La resuelve el servidor para que la misma cosa no se vea distinta según dónde se la mire (RF-03.17)" }
        tipo: { type: string, maxLength: 50, example: "PROYECTOR", description: "Texto libre. 'PC' en las computadoras de un carro" }
        nombre: { type: string, maxLength: 100, nullable: true, example: "Proyector Epson", description: "Solo en equipos sueltos: es lo único que los distingue, y es único entre ellos sin distinguir mayúsculas. Ausente en las PCs de un carro" }
        reservable: { type: boolean, description: "Si aparece en la lista de equipos libres al reservar (RF-03.16). Un proyector sí; un cargador no, se presta en el momento" }
        carroId: { type: string, format: uuid, nullable: true, description: "Ausente en un equipo suelto: un proyector no está en ningún carro" }
        identificador: { type: integer, nullable: true, description: "Único dentro del carro, no globalmente — puede repetirse en otro carro. Ausente en un equipo suelto", example: 27 }
        numeroSerie: { type: string, maxLength: 50, nullable: true, example: "5CD1234ABC", description: "Número de serie de fábrica, único en toda la institución. Alfanumérico: se guarda en mayúsculas y sin espacios al borde, así que la respuesta puede diferir de lo enviado. Ausente en un equipo suelto: un cargador puede no traer serie" }
        freezado: { type: boolean, description: "Informativo: indica si tiene Deep Freeze instalado. Sin efecto funcional sobre reservas." }
        cpu: { type: string, nullable: true }
        ram: { type: string, nullable: true }
        sistemaOperativo: { type: string, nullable: true }
        softwareInstalado: { type: string, nullable: true }
        estado: { type: string, enum: [DISPONIBLE, EN_MANTENIMIENTO, FUERA_DE_SERVICIO] }
        dadoDeBaja: { type: boolean, description: "Soft delete: si es true, no aparece en listados activos ni puede reservarse" }
        fechaBaja: { type: string, format: date-time, nullable: true }

    Licencia:
      type: object
      description: |
        Licencia de software con vencimiento periódico, instalada en una PC
        puntual (RF-03.11). Hay una por (PC, software): el mismo AutoCAD en las
        ocho PCs de un carro son ocho licencias, cada una con su contador — el
        caso a cubrir es que una quede sin renovar mientras las demás sí.
      properties:
        id: { type: string, format: uuid }
        equipoId: { type: string, format: uuid }
        nombre: { type: string, maxLength: 100, example: "AutoCAD 2027", description: "Se guarda sin espacios al borde, respetando mayúsculas. Único por PC ignorando la caja." }
        diasDuracion: { type: integer, minimum: 1, maximum: 3650, description: "Cuánto dura una renovación. Es el paso del botón Renovar, no una propiedad inmutable: puede cambiar de 30 a 60." }
        diasAviso: { type: integer, minimum: 0, maximum: 365, default: 1, description: "Con cuánta antelación avisar. 0 = avisar recién el día que vence." }
        fechaVencimiento:
          type: string
          format: date
          nullable: true
          description: |
            AUSENTE significa "todavía no se verificó contra la máquina", NO
            "no vence nunca". Esas licencias no disparan ningún aviso y se
            listan primero.
        ultimaRenovacion:
          type: string
          format: date
          nullable: true
          description: |
            Cuándo se renovó de verdad, que puede no ser cuándo se cargó.
            Ausente si el vencimiento se fijó por quedanDias o venceEl:
            deducirla sería inventar un dato.
        vencimientoFijadoPor: { type: string, format: uuid, nullable: true, description: "Quién escribió el vencimiento en el sistema" }
        vencimientoFijadoEn: { type: string, format: date-time, nullable: true }
        diasRestantes:
          type: integer
          nullable: true
          description: |
            DERIVADO, no está en la base: fechaVencimiento menos hoy. Negativo
            = venció hace esos días. Ausente si no hay fecha. Viaja resuelto
            para que la pantalla, el correo y el job digan lo mismo.
        estado: { type: string, enum: [SIN_FECHA, VENCIDA, POR_VENCER, VIGENTE], description: "Derivado. POR_VENCER depende del diasAviso de esa licencia, no de un umbral fijo." }
        etiqueta: { type: string, example: "PC 3", description: "Cómo se nombra el equipo (RF-03.17). Solo en el listado general. Es lo que se muestra: los dos de abajo van en 0 y \"\" si el equipo no está en ningún carro" }
        identificador: { type: integer, description: "Solo en el listado general" }
        carroId: { type: string, format: uuid }
        carroNombre: { type: string }
        equipoDadoDeBaja: { type: boolean }

    VencimientoDeclarado:
      type: object
      description: |
        Las tres formas de decir cuándo vence. Se manda UNA sola: dos darían
        fechas distintas y elegir cuál gana sería decidir por el Admin (400).
        Ninguna = "todavía no sé", que es un estado válido.
      properties:
        renovadaEl: { type: string, format: date, description: "\"La renové el martes\" → esa fecha + diasDuracion. Puede ser pasada: es el caso del olvido." }
        quedanDias: { type: integer, minimum: 0, description: "\"Quedan 12 días\" → hoy + 12. Es lo que muestra la propia máquina. No acepta negativos: para una ya vencida, usar venceEl." }
        venceEl: { type: string, format: date, description: "La fecha de vencimiento, tal cual." }

    Prestamo:
      type: object
      description: |
        La custodia física de una PC: quién la tiene ahora (RF-08).

        NO es una reserva. La reserva es el derecho a usar una PC en una
        franja; el préstamo es dónde está la máquina. Existen por separado:
        hay reservas que nadie retiró, préstamos sin reserva detrás, y
        préstamos que sobreviven a su reserva.
      properties:
        id: { type: string, format: uuid }
        equipoId: { type: string, format: uuid }
        reservaId: { type: string, format: uuid, nullable: true, description: "Ausente = préstamo espontáneo, sin reserva detrás" }
        entregadoAUsuarioId: { type: string, format: uuid, nullable: true, description: "Solo si quien responde tiene cuenta en el sistema" }
        entregadoANombre: { type: string, maxLength: 200, description: "Quién RESPONDE por el equipo — contra una reserva, siempre el docente. Va siempre, aunque haya cuenta: es un snapshot, para que el registro siga diciendo de quién era la responsabilidad si esa cuenta se elimina" }
        retiradoPor: { type: string, maxLength: 200, nullable: true, description: "Quién vino físicamente a buscarlo, si no fue quien responde. Ausente es el caso normal y significa que lo retiró esa misma persona (RF-08.19)" }
        motivo: { type: string, nullable: true }
        devolucionEstimada:
          type: string
          format: date-time
          nullable: true
          description: |
            Ausente = no se pactó hora. A esa máquina no se le reclama nada:
            "vengo en un rato" es una respuesta válida, y una hora inventada
            solo generaría reclamos falsos.
        entregadoPor: { type: string, format: uuid, nullable: true }
        entregadoEn: { type: string, format: date-time }
        devueltoEn: { type: string, format: date-time, nullable: true, description: "Ausente = la máquina todavía está afuera" }
        recibidoPor: { type: string, format: uuid, nullable: true }
        observaciones: { type: string, nullable: true, description: "Lo que se anota al recibir: \"volvió sin el cargador\"" }
        abierto: { type: boolean, description: "Derivado: devueltoEn ausente" }
        demorado: { type: boolean, description: "Derivado. Un préstamo sin hora pactada NUNCA está demorado" }
        minutosDeDemora: { type: integer, description: "Derivado. 0 si no está demorado" }
        etiqueta: { type: string, example: "Proyector Epson", description: "Cómo se nombra el equipo (RF-03.17). Solo en los listados" }
        identificador: { type: integer, description: "Solo en los listados" }
        carroNombre: { type: string }
        materiaNombre: { type: string, nullable: true, description: "Solo en préstamos que salieron contra una reserva" }

    ResultadoEntrega:
      type: object
      description: |
        Qué salió y qué no. `noEntregadas` no es un error del request: el lote
        se procesó, y el código de cada rechazo permite ofrecer la acción que
        corresponde ("ver quién la tiene" no es lo mismo que "revisá el
        inventario").
      properties:
        entregadas:
          type: array
          items: { $ref: '#/components/schemas/Prestamo' }
        noEntregadas:
          type: array
          items:
            type: object
            properties:
              equipoId: { type: string, format: uuid }
              razon: { type: string, enum: [YA_ENTREGADA, FUERA_DEL_INVENTARIO, RESERVA_CANCELADA, SIN_DESTINATARIO], description: "SIN_DESTINATARIO: la reserva no tiene docente (bloqueo por evaluación). Se resuelve mandando retiradoPor, que en ese caso pasa a ser el responsable: no hay docente a quien anteponerle." }
              detalle: { type: string }
        avisos:
          type: array
          description: "Reservas próximas de las máquinas entregadas. Solo en las entregas espontáneas: en las que salen contra una reserva, la reserva ES el permiso."
          items:
            type: object
            properties:
              equipoId: { type: string, format: uuid }
              fecha: { type: string, format: date }
              horaInicio: { type: string, example: "10:00" }
              horaFin: { type: string, example: "11:00" }
              docente: { type: string }

    Incidencia:
      type: object
      properties:
        id: { type: string, format: uuid }
        equipoId: { type: string, format: uuid }
        reportadoPor: { type: string, format: uuid }
        descripcion: { type: string }
        categoria:
          type: string
          description: |
            Qué tipo de falla es, en texto libre (RF-03.5). Se omite cuando
            todavía no se diagnosticó, que es un estado válido y no un dato
            faltante.
          example: batería
        gravedad: { type: string, enum: [LEVE, MODERADA, GRAVE] }
        fecha: { type: string, format: date-time }
        enviadoDGE: { type: boolean }
        fechaEnvioDGE: { type: string, format: date-time, nullable: true }
        estado: { type: string, enum: [ABIERTA, EN_REPARACION, ENVIADA_DGE, RESUELTA] }

    # ── Reservations ──
    ReservaRequest:
      type: object
      required: [equipoIds, materiaId, fecha, horaInicio, horaFin]
      properties:
        equipoIds: { type: array, items: { type: string, format: uuid }, minItems: 1, description: "Una o varias PCs elegidas de la lista de disponibles" }
        materiaId: { type: string, format: uuid }
        fecha: { type: string, format: date }
        horaInicio: { type: string, pattern: '^\d{2}:\d{2}$', example: "10:00" }
        horaFin: { type: string, pattern: '^\d{2}:\d{2}$', example: "11:30" }

    ReservaRecurrenteRequest:
      type: object
      required: [equipoIds, materiaId, diaSemana, horaInicio, horaFin, fechaInicio, fechaFin]
      properties:
        equipoIds: { type: array, items: { type: string, format: uuid }, minItems: 1 }
        materiaId: { type: string, format: uuid }
        diaSemana: { type: string, enum: [LUNES, MARTES, MIERCOLES, JUEVES, VIERNES] }
        horaInicio: { type: string, example: "10:00" }
        horaFin: { type: string, example: "11:30" }
        fechaInicio: { type: string, format: date }
        fechaFin: { type: string, format: date }

    ReservaGrupo:
      type: object
      description: "La reserva tal como la ve el docente — una materia, fecha y horario, con una o varias PCs."
      properties:
        id: { type: string, format: uuid }
        materiaId: { type: string, format: uuid }
        materiaNombre: { type: string }
        cursoNombre: { type: string }
        creadoPor: { type: string, format: uuid }
        nombreDocenteSnapshot: { type: string }
        fecha: { type: string, format: date }
        horaInicio: { type: string }
        horaFin: { type: string }
        estado: { type: string, enum: [CONFIRMADA, PARCIALMENTE_CANCELADA, CANCELADA, FINALIZADA, NO_RETIRADA] }
        esRecurrente: { type: boolean }
        reglaRecurrenciaId: { type: string, format: uuid, nullable: true }
        creadaEn: { type: string, format: date-time }
        reservas: { type: array, items: { $ref: '#/components/schemas/Reserva' }, description: "Detalle por PC" }

    Reserva:
      type: object
      description: "Una PC puntual dentro de un ReservaGrupo (o una fila BLOQUEO suelta, sin grupo)."
      properties:
        id: { type: string, format: uuid }
        reservaGrupoId: { type: string, format: uuid, nullable: true, description: "NULL solo para tipo BLOQUEO" }
        equipoId: { type: string, format: uuid }
        etiqueta: { type: string, example: "PC 3", description: "Cómo se nombra el equipo (RF-03.17). Solo en los listados detallados. Es lo que se muestra: identificador va en 0 y carroNombre vacío si el equipo no está en ningún carro" }
        identificador: { type: integer }
        estado: { type: string, enum: [CONFIRMADA, CANCELADA, FINALIZADA, NO_RETIRADA] }
        tipo: { type: string, enum: [NORMAL, BLOQUEO] }
        motivoBloqueo:
          type: string
          nullable: true
          example: Jornada docente
          description: |
            Por qué se tomó el equipo. Solo en los BLOQUEO, y ahí va siempre:
            es obligatorio al crearlos. Las pantallas lo muestran en el lugar
            donde una clase muestra su materia.
        motivoCancelacion: { type: string, nullable: true }
        canceladaEn: { type: string, format: date-time, nullable: true }
        creadaEn: { type: string, format: date-time }

    BloqueoRequest:
      type: object
      required: [equipoIds, fecha, horaInicio, horaFin, motivo]
      properties:
        equipoIds: { type: array, minItems: 1, items: { type: string, format: uuid }, description: "Los equipos a bloquear. Pueden ser de carros distintos." }
        fecha: { type: string, format: date }
        horaInicio: { type: string, example: "08:00" }
        horaFin: { type: string, example: "18:00" }
        motivo:
          type: string
          maxLength: 500
          example: Jornada docente
          description: |
            Obligatorio. Texto libre: el sistema no puede prever por qué una
            institución se toma el laboratorio —una evaluación, una jornada
            docente, una capacitación, una obra en el aula—.

            Se aparta del criterio de los otros textos libres del sistema, que
            sí admiten vacío, porque un bloqueo le cancela la clase a otra
            persona. Se guarda en cada bloqueo y viaja tal cual al aviso de
            los docentes afectados, sin envolverlo en ninguna categoría.

    # ── Notifications ──
    Notificacion:
      type: object
      properties:
        id: { type: string, format: uuid }
        mensaje: { type: string }
        estado: { type: string, enum: [NO_LEIDA, LEIDA] }
        reservaId: { type: string, format: uuid, nullable: true, description: "Apunta a la PC puntual (Reserva), no al grupo" }
        creadaEn: { type: string, format: date-time }
        tipo:
          type: string
          enum: [GENERAL, DOCENTE_PENDIENTE, RESERVA_CANCELADA]
          description: |
            De qué se trata el aviso, para que la interfaz pueda ofrecer la
            acción que corresponde sin interpretar el texto del mensaje. Un
            aviso de cancelación agrupa TODO lo que se le canceló a esa
            persona en una misma operación: bloquear tres PCs de una clase
            genera una notificación con las tres, no tres avisos.

    # ── Availability ──
    BloqueHorarioAdmin:
      type: object
      properties:
        id: { type: string, format: uuid }
        diaSemana: { type: string, enum: [LUNES, MARTES, MIERCOLES, JUEVES, VIERNES] }
        horaInicio: { type: string, example: "08:00" }
        horaFin: { type: string, example: "12:00" }

    ExcepcionHorarioAdmin:
      type: object
      properties:
        id: { type: string, format: uuid }
        fecha: { type: string, format: date }
        tipo: { type: string, enum: [NO_DISPONIBLE, HORARIO_MODIFICADO] }
        horaInicio: { type: string, nullable: true, example: "09:00" }
        horaFin: { type: string, nullable: true, example: "11:00" }
        motivo: { type: string, nullable: true }

    AdminDisponibilidad:
      type: object
      properties:
        usuarioId: { type: string, format: uuid }
        nombre: { type: string }
        apellido: { type: string }
        disponibleAhora: { type: boolean }
        excepcionHoy: { $ref: '#/components/schemas/ExcepcionHorarioAdmin', nullable: true }
        horarioSemanal: { type: array, items: { $ref: '#/components/schemas/BloqueHorarioAdmin' } }

# ─────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────
paths:

  # ══════════════════════════════
  # AUTH
  # ══════════════════════════════
  /api/auth/registro:
    post:
      tags: [auth]
      summary: Autorregistro de docente
      description: |
        Crea cuenta con rol DOCENTE y estado PENDIENTE hasta aprobación de un ADMIN.
        Notifica a todos los usuarios con rol ADMIN y estado APROBADA (RF-05.6) para
        que no dependan de revisar la lista manualmente.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegistroRequest' }
      responses:
        "201": { description: Cuenta creada, pendiente de aprobación. Todos los Admin son notificados. }
        "409":
          description: |
            Email ya registrado. Si pertenece a una cuenta en estado BAJA, el mensaje
            lo indica explícitamente (RF-01.3) en vez de un genérico "ya registrado",
            para que quien vuelve entienda que es su propia cuenta vieja.

  /api/auth/login:
    post:
      tags: [auth]
      summary: Login
      description: Devuelve JWT si la cuenta está APROBADA. Si está PENDIENTE o RECHAZADA, responde 403.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        "401": { description: Credenciales inválidas }
        "403":
          description: |
            Cuenta no aprobada. El cuerpo distingue el motivo —pendiente de aprobación,
            rechazada o dada de baja— en vez de un genérico: para llegar hasta acá la
            persona ya presentó la credencial correcta, así que decirle en qué estado
            está su propia cuenta no revela nada. El frontend muestra ese texto tal cual.

  /api/auth/config:
    get:
      tags: [auth]
      summary: Configuración pública (sin autenticar)
      description: |
        Lo que la pantalla de login necesita saber antes de que haya sesión: qué
        formas de ingreso ofrecer. Las dos son capacidades opcionales del
        despliegue, y la pantalla no dibuja lo que el backend no puede hacer.

        - googleClientId vacío = no hay GOOGLE_CLIENT_ID configurado, no se dibuja
          el botón de Google.
        - recuperacionPorEmail en false = no hay SMTP configurado, no se muestra
          "olvidé mi contraseña" (los dos endpoints de /password/* responden 503).

        El client ID viaja acá y no compilado en el bundle porque el frontend se
        construye una vez dentro de la imagen Docker; en el build habría que
        reconstruir la imagen para cambiarlo. No es un secreto: el navegador se lo
        manda a Google en cada pedido.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                required: [googleClientId, recuperacionPorEmail]
                properties:
                  googleClientId: { type: string, example: "123-abc.apps.googleusercontent.com" }
                  recuperacionPorEmail: { type: boolean, example: true }

  /api/auth/password/olvide:
    post:
      tags: [auth]
      summary: Pedir un código para recuperar la contraseña (público)
      description: |
        Paso 1 de la recuperación por autoservicio. Genera un código de 6 dígitos,
        lo guarda hasheado (argon2, igual que una contraseña) y lo manda al email
        de la cuenta. Vence a los 15 minutos, sirve una sola vez y admite 5
        intentos fallidos; pedir uno nuevo invalida el anterior.

        **Responde 202 exista o no la cuenta**, y el cuerpo es siempre el mismo.
        Es deliberado: cualquier diferencia observable —el mensaje, el código, o el
        tiempo que tarda— convertiría este formulario en un padrón de las
        direcciones registradas en la escuela. Por eso el código se genera y se
        hashea ANTES de buscar la cuenta, para que los dos caminos tarden lo mismo.

        Casos que NO reciben código, todos con la misma respuesta 202:
        una cuenta inexistente; una que no está APROBADA (pendiente, rechazada o en
        baja: no tiene a dónde entrar); y una creada con Google, que no tiene
        contraseña propia — a esa sí le llega un correo, pero explicándole que entra
        con el botón de Google. Sin ese correo el síntoma sería "pedí el código y
        nunca llegó".

        Rate limit: 5/min por IP y 3/min por email. El segundo es el que importa —
        sin él, cambiar de red alcanza para inundar de correo la casilla de un
        docente y quemarle la reputación al Gmail de la escuela.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "202":
          description: Pedido aceptado (no dice si se mandó algo)
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje: { type: string }
        "400": { description: El email no tiene formato válido }
        "429": { description: Demasiados pedidos }
        "503": { description: No hay SMTP configurado en este despliegue }

  /api/auth/password/restablecer:
    post:
      tags: [auth]
      summary: Cambiar la contraseña con el código recibido por email (público)
      description: |
        Paso 2. Consume el código y deja la contraseña elegida por la persona, con
        debeCambiarPassword en false (la eligió ella, no es una temporal).

        No devuelve token: el cambio no inicia sesión. Quien lo hizo vuelve al login
        y entra con la contraseña nueva, lo que de paso comprueba que la recuerda.

        El email viaja de nuevo en el cuerpo, sin sesión intermedia del lado del
        servidor: así el paso 2 funciona aunque el código se haya pedido desde la
        computadora de la escuela y se lea en el celular.

        Los 400 distinguen tres situaciones a propósito distinto grado: "vencido" y
        "sin intentos" se dicen tal cual, porque le pasan a la persona legítima y
        necesita saber que tiene que pedir otro código en vez de seguir tipeando.
        Todo lo demás —email inexistente, cuenta sin código, código equivocado—
        colapsa al mismo mensaje, por lo mismo que el endpoint anterior.

        Queda auditado (PASSWORD_RECUPERADA_POR_EMAIL, con la IP): es la única
        acción del catálogo cuyo actor no está autenticado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, codigo, passwordNueva]
              properties:
                email: { type: string, format: email }
                codigo: { type: string, pattern: '^\d{6}$', example: "482913" }
                passwordNueva: { type: string, minLength: 8 }
      responses:
        "204": { description: Contraseña cambiada }
        "400": { description: Código inválido, vencido, sin intentos, o contraseña corta }
        "429": { description: Demasiados intentos }
        "503": { description: No hay SMTP configurado en este despliegue }

  /api/auth/google:
    post:
      tags: [auth]
      summary: Ingreso con una cuenta de Google ya registrada
      description: |
        Recibe el ID token que Google le entregó al navegador, verifica su firma
        contra las claves públicas de Google (RS256, `aud` = nuestro client ID,
        `iss` de Google, `exp` vigente y `email_verified` en true) y devuelve el JWT
        propio del sistema — el mismo que devuelve /api/auth/login.

        No crea cuentas. Si el token es válido pero no hay ninguna cuenta con ese
        email, responde **404**: eso no es un fallo sino el camino normal la primera
        vez, y es lo que le indica al frontend que tiene que llevar a la persona a
        POST /api/auth/google/registro con el mismo token.

        Si existe una cuenta con ese email creada con contraseña, se le agrega el
        vínculo con Google y conserva su contraseña: las dos formas de ingreso
        conviven. Vincular por email es seguro solo porque antes se exigió
        `email_verified`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [credential]
              properties:
                credential: { type: string, description: ID token emitido por Google }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        "400": { description: Cuerpo malformado }
        "401": { description: El token de Google no es válido (firma, aud, exp o emisor) }
        "403":
          description: |
            Google no confirmó el email (`email_verified` en false), el dominio no está
            en GOOGLE_DOMINIOS_PERMITIDOS, o la cuenta existe pero no está APROBADA.
        "404": { description: Token válido pero todavía no hay cuenta con ese email — seguir al registro }
        "409": { description: El email pertenece a una cuenta en BAJA (RF-01.3) }
        "503": { description: Este despliegue no tiene GOOGLE_CLIENT_ID configurado }

  /api/auth/google/registro:
    post:
      tags: [auth]
      summary: Autorregistro de docente con cuenta de Google
      description: |
        Igual que /api/auth/registro pero sin contraseña: la cuenta queda con rol
        DOCENTE y estado PENDIENTE hasta que un ADMIN la apruebe, y notifica a todos
        los Admin (RF-05.6). Tener una cuenta de Google válida prueba quién sos, no
        que la escuela te conozca.

        `nombre` y `apellido` son opcionales: vacíos, se usan los del token
        (`given_name` / `family_name`). Se aceptan del request porque esos claims no
        son obligatorios y porque el nombre de una cuenta personal no siempre es el
        que figura en la escuela. El email NO se acepta del request: sale del token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [credential]
              properties:
                credential: { type: string }
                nombre: { type: string, maxLength: 100 }
                apellido: { type: string, maxLength: 100 }
                cursoSolicitado: { type: string, maxLength: 100 }
                materiaSolicitada: { type: string, maxLength: 100 }
      responses:
        "201": { description: Cuenta creada, pendiente de aprobación }
        "400": { description: Cuerpo malformado, o falta el nombre tanto en el request como en el token }
        "401": { description: El token de Google no es válido }
        "403": { description: Email sin confirmar por Google, o dominio no habilitado }
        "409":
          description: |
            Ya existe una cuenta para ese email o esa cuenta de Google. Si pertenece a
            una cuenta en BAJA, el mensaje lo indica explícitamente (RF-01.3).
        "503": { description: Este despliegue no tiene GOOGLE_CLIENT_ID configurado }

  /api/auth/usuarios/{id}/promover-a-admin:
    post:
      tags: [auth]
      summary: Promover un docente a ADMIN
      description: |
        Le da rol ADMIN a un docente ya aprobado. Solo ADMIN.

        La operación inversa es `POST /api/auth/usuarios/{id}/degradar-a-docente`.
        Son dos rutas que dicen lo que hacen y no un `PATCH /rol` genérico: cada una
        tiene sus propias condiciones y su propia entrada de auditoría.

        La cuenta tiene que estar en estado APROBADA. Promover una PENDIENTE sería
        aprobarla por la puerta de atrás, salteándose el paso donde alguien mira quién
        es esa persona (RF-01.3).

        **No toca nada más de la cuenta**: conserva sus materias asignadas, sus
        reservas y sus formas de ingreso (contraseña y/o Google). Un docente que pasa
        a coordinar suele seguir dando clase, y el sistema no lo impide — academic
        solo exige estado APROBADA para asignar a alguien a una materia, nunca miró
        el rol, y reservar tampoco pide rol.

        **Tiene efecto en el request siguiente**, sin volver a iniciar sesión: el
        middleware lee el rol de la base en cada pedido y pisa el del token
        (ver `09-seguridad-rbac.md` §1).

        No hace falta el guard del último Admin (RF-01.8): esto solo agrega Admins,
        nunca los saca.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Promovido. Queda registrado en auditoría quién lo hizo y a quién }
        "403": { description: Quien lo pide no es ADMIN }
        "404": { description: Usuario no encontrado }
        "409":
          description: |
            La cuenta ya tiene rol ADMIN, o no está APROBADA. El mensaje distingue los
            dos casos, que es lo que el Admin necesita para saber qué hacer.

  /api/auth/usuarios/{id}/degradar-a-docente:
    post:
      tags: [auth]
      summary: Quitarle el rol ADMIN a un Admin
      description: |
        La inversa de promover: le saca los permisos de Admin y lo deja como docente,
        **sin cerrarle la cuenta**. Solo ADMIN.

        Existe porque, sin ella, la única forma de sacar a un Admin era darle de baja
        la cuenta entera —perdiendo sus materias y cancelándole las reservas— por un
        cambio que era solo de permisos.

        La cuenta tiene que estar en estado APROBADA: en una RECHAZADA o en BAJA el rol
        ya no habilita nada, porque esos estados no entran al sistema.

        **Dos frenos que promover no necesita**, porque esta sí puede reducir la
        cantidad de Admins:

        - El guard del último Admin (RF-01.8), dentro de la misma transacción que la
          escritura: nunca puede quedar el sistema sin ningún Admin activo.
        - Nadie se degrada a sí mismo: perdería en el acto las pantallas desde las que
          lo pidió y dependería de otro Admin para volver atrás.

        **No toca nada más de la cuenta**: conserva materias, reservas y formas de
        ingreso. Lo único que deja de figurar es su horario de atención, porque la
        lista de Admins se arma filtrando por rol — si lo vuelven a promover, reaparece
        con el horario que ya tenía cargado.

        **Tiene efecto en el request siguiente**, sin volver a iniciar sesión, igual
        que promover.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Degradado. Queda registrado en auditoría quién lo hizo y a quién }
        "403": { description: Quien lo pide no es ADMIN }
        "404": { description: Usuario no encontrado }
        "409":
          description: |
            La cuenta ya es DOCENTE, no está APROBADA, es el último Admin activo
            (RF-01.8), o es la de quien está pidiendo el cambio. El mensaje distingue
            los cuatro casos.

  /api/auth/me:
    get:
      tags: [auth]
      summary: Datos del usuario autenticado
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Usuario' }

  /api/auth/cambiar-password:
    post:
      tags: [auth]
      summary: Cambiar mi propia contraseña
      description: |
        Disponible para cualquier usuario autenticado en cualquier momento (RF-01.7),
        no solo cuando debeCambiarPassword=true. Si la cuenta tenía ese flag en true,
        se limpia a false al cambiar exitosamente.

        Una cuenta creada con Google no tiene contraseña actual que verificar ni nada
        que cambiar: responde 409. Un Admin sí puede generarle una con
        POST /api/auth/usuarios/{id}/reset-password, que es la forma de devolverle el
        acceso a alguien que perdió su cuenta de Google; eso no rompe el vínculo.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [passwordActual, passwordNueva]
              properties:
                passwordActual: { type: string }
                passwordNueva: { type: string, minLength: 8 }
      responses:
        "200": { description: Contraseña actualizada }
        "401": { description: passwordActual incorrecta }
        "409": { description: La cuenta ingresa con Google y no tiene contraseña }

  /health:
    get:
      summary: Estado del servicio
      description: |
        Verifica que el proceso pueda llegar a Postgres, no solo que esté vivo:
        antes respondía 200 con la base caída, así que el HEALTHCHECK del
        contenedor daba por sano a un proceso que no podía atender ni un login.

        Sin autenticación: lo consume el HEALTHCHECK del contenedor (el propio
        binario, con `sgrc-app healthcheck` — ver cmd/healthcheck.go).
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok] }
                  time: { type: string, format: date-time }
        "503":
          description: La base de datos no responde
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [degradado] }
                  error: { type: string }
                  time: { type: string, format: date-time }

  /api/auth/usuarios:
    get:
      tags: [auth]
      summary: Listar usuarios (Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: estado
          schema: { type: string, enum: [PENDIENTE, APROBADA, RECHAZADA, BAJA] }
        - in: query
          name: rol
          schema: { type: string, enum: [ADMIN, DOCENTE] }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Usuario' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        "400": { description: page o pageSize inválidos }

  /api/auth/usuarios/{id}/estado:
    patch:
      tags: [auth]
      summary: Aprobar, rechazar o dar de baja una cuenta (Admin)
      description: |
        Al pasar a BAJA, revisa las materias del docente: si alguna queda sin ningún
        otro docente activo, cancela sus ReservaGrupo futuros; si conserva otro docente,
        solo genera un aviso informativo a todos los Admin (RF-02.8). Nunca cancela
        reservas de una materia que sigue teniendo otro docente asignado. Después de
        esa revisión, elimina todos los vínculos DocenteMateria del docente dado de baja.
        Rechaza con 409 si el usuario es el único ADMIN en estado APROBADA y el nuevo
        estado no es APROBADA (RF-01.8) — el sistema nunca puede quedar sin ningún Admin.
        Rechaza con 409 si el estado actual del usuario ya es BAJA — es terminal, no
        se puede revertir (RF-02.9). Para volver a operar, la persona debe registrarse
        de nuevo (RF-01.3).
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [estado]
              properties:
                estado: { type: string, enum: [APROBADA, RECHAZADA, BAJA] }
      responses:
        "200":
          description: Estado actualizado (con detalle de impacto si fue BAJA)
          content:
            application/json:
              schema:
                type: object
                properties:
                  estado: { type: string, enum: [PENDIENTE, APROBADA, RECHAZADA, BAJA] }
                  materiasRevisadas: { type: integer }
                  materiasHuerfanas: { type: integer }
                  reservasCanceladas: { type: integer }
        "403": { description: Solo un Admin puede cambiar este estado }
        "409": { description: No se puede dejar al sistema sin ningún Admin activo, o la cuenta ya está en BAJA (transición terminal) }

  /api/auth/usuarios/{id}/reset-password:
    post:
      tags: [auth]
      summary: Resetear la contraseña de un usuario a una temporal (Admin)
      description: |
        Recuperación asistida por Admin (RF-01.6). Marca debeCambiarPassword=true; el
        usuario debe cambiarla (POST /api/auth/cambiar-password) antes de operar el
        resto del sistema.

        Es el camino de **rescate**, no el habitual: el habitual es que la persona lo
        haga sola (POST /api/auth/password/olvide). Este sirve para quien no puede
        recibir el mail —email mal escrito al registrarse, casilla de la escuela dada
        de baja, acceso perdido— y es el único disponible en un despliegue sin SMTP
        configurado. Sin él, esa persona no tendría forma de volver a entrar.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Contraseña temporal generada
          content:
            application/json:
              schema:
                type: object
                properties:
                  passwordTemporal: { type: string, description: "Mostrar una sola vez al Admin; el usuario debe cambiarla al ingresar" }

  /api/auth/usuarios/{id}:
    delete:
      tags: [auth]
      summary: Eliminar definitivamente una cuenta cerrada (Admin)
      description: |
        Solo permitido si el usuario está en uno de los dos estados terminales, BAJA
        o RECHAZADA (RF-01.9) — libera su email para un nuevo registro (RF-02.9).
        RECHAZADA cuenta porque no transiciona a ningún otro estado: sin esta salida,
        un rechazo equivocado dejaba el email tomado de forma permanente. Una cuenta
        APROBADA hay que darla de baja primero, y una PENDIENTE hay que resolverla.
        Sus reservas, incidencias y notificaciones
        no se eliminan: las FKs que las referencian usan ON DELETE SET NULL (conservan
        nombre_docente_snapshot u otro texto ya guardado) salvo docente_materia y
        notificacion.usuario_id, que sí se eliminan en cascada por no tener sentido sin
        la cuenta (ver 07-modelo-datos.md).
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Cuenta eliminada definitivamente }
        "409": { description: Solo se puede eliminar una cuenta en estado BAJA }

  /api/auth/admins:
    post:
      tags: [auth]
      summary: Crear otro Admin (Admin)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegistroRequest' }
      responses:
        "201": { description: Admin creado (aprobado automáticamente) }
        "403": { description: Solo un Admin puede crear otro Admin }

  # ══════════════════════════════
  # ACADEMIC
  # ══════════════════════════════
  /api/academic/ciclos:
    get:
      tags: [academic]
      summary: Listar ciclos lectivos
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: archivado
          schema: { type: boolean }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/CicloLectivo' } }
    post:
      tags: [academic]
      summary: Crear ciclo lectivo (Admin)
      description: Solo puede existir un ciclo lectivo activo a la vez (RF-02.1).
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [anio]
              properties:
                anio: { type: integer, example: 2025 }
      responses:
        "201": { description: Ciclo creado }
        "409": { description: Ya existe ciclo para ese año, o ya hay un ciclo activo sin archivar }

  /api/academic/ciclos/{id}/archivar:
    post:
      tags: [academic]
      summary: Archivar ciclo y opcionalmente clonar al siguiente año (Admin)
      description: |
        Preserva curso/materia/docente_materia (archivado=true) para no recrearlos.
        Antes de nada, calcula y guarda un snapshot histórico agregado (historico_uso_equipo,
        historico_uso_docente). Luego ELIMINA FÍSICAMENTE todos los ReservaGrupo, Reserva
        y ReglaRecurrencia de las materias de ese ciclo, más los bloqueos por evaluación
        estatal de ese año. Incidencia no se ve afectada (pertenece al equipo, no al ciclo).

        **Si se pide `clonarA`, el año destino se verifica ANTES de archivar**: que sea un
        año válido y que no exista ya un ciclo con ese año. El borrado es irreversible, así
        que un año repetido devuelve 409 con el ciclo viejo intacto — no después de haberlo
        destruido.

        La operación es reintentable: si un intento anterior quedó a medias (reservas sin
        borrar, o el clonado sin hacer), volver a llamar completa lo que faltó en vez de
        rechazar por "ya archivado".
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                clonarA: { type: integer, description: "Año destino del clon. Omitir si no se desea clonar.", example: 2026 }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  archivado: { type: boolean }
                  nuevoCicloId: { type: string, format: uuid, nullable: true }
                  cursosClonados: { type: integer }
                  materiasClonadas: { type: integer }
        "409":
          description: |
            El ciclo ya estaba archivado y no quedaba nada pendiente, o el año
            destino del clon ya tiene un ciclo. En los dos casos no se tocó nada.
          content:
            text/plain:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/academic/ciclos/{cicloId}/cursos:
    get:
      tags: [academic]
      summary: Listar cursos del ciclo
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: cicloId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Curso' } }
    post:
      tags: [academic]
      summary: Crear curso en el ciclo (Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: cicloId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nombre]
              properties:
                nombre: { type: string, pattern: '^[1-6]°[A-Z]$', example: "1°A" }
      responses:
        "201": { description: Curso creado }
        "400": { description: "Nombre no cumple el patrón {año}°{división}, ej. 1°A" }

  /api/academic/cursos/{id}:
    patch:
      tags: [academic]
      summary: Editar nombre de un curso (Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre: { type: string, pattern: '^[1-6]°[A-Z]$', example: "1°A" }
      responses:
        "200": { description: Curso actualizado }
        "400": { description: "Nombre no cumple el patrón {año}°{división}, ej. 1°A" }
        "409": { description: Ya existe otro curso con ese nombre en el mismo ciclo lectivo }
    delete:
      tags: [academic]
      summary: Eliminar un curso (Admin)
      description: |
        Solo permitido si ninguna de sus materias tiene reservas asociadas (RF-02.11).
        Para un curso con historial, la única opción es archivar el ciclo completo.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Curso eliminado }
        "409": { description: El curso tiene materias con reservas asociadas — no se puede eliminar }

  /api/academic/cursos/{cursoId}/materias:
    get:
      tags: [academic]
      summary: Listar materias del curso
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: cursoId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Materia' } }
    post:
      tags: [academic]
      summary: Crear materia en el curso (Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: cursoId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nombre]
              properties:
                nombre: { type: string, example: "Matemáticas" }
      responses:
        "201": { description: Materia creada }

  /api/academic/materias/{id}:
    patch:
      tags: [academic]
      summary: Editar nombre de una materia (Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre: { type: string, example: "Matemáticas" }
      responses:
        "200": { description: Materia actualizada }
        "409": { description: Ya existe otra materia con ese nombre en el mismo curso }
    delete:
      tags: [academic]
      summary: Eliminar una materia (Admin)
      description: |
        Solo permitido si no tiene reservas asociadas (RF-02.11). Con historial,
        la única opción es archivar el ciclo completo.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Materia eliminada }
        "409": { description: La materia tiene reservas asociadas — no se puede eliminar }

  /api/academic/materias/{materiaId}/docentes:
    get:
      tags: [academic]
      summary: Listar docentes asignados a la materia
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: materiaId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/DocenteMateria' } }
    post:
      tags: [academic]
      summary: Asignar docente a materia (Admin)
      description: Solo se puede asignar a un usuario en estado APROBADA (RF-02.6).
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: materiaId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [usuarioId, rol]
              properties:
                usuarioId: { type: string, format: uuid }
                rol: { type: string, enum: [TITULAR, SUPLENTE] }
      responses:
        "201": { description: Docente asignado }
        "404": { description: Usuario no encontrado }
        "409": { description: El usuario no está en estado APROBADA }

  /api/academic/materias/{materiaId}/docentes/{docenteMateriaId}:
    delete:
      tags: [academic]
      summary: Remover docente de materia (Admin)
      description: |
        Sigue la misma política que la baja completa de un docente (RF-02.8/02.10):
        si con esto la materia queda sin ningún otro docente ACTIVO, se cancelan sus
        reservas futuras y se notifica a todos los Admin; si conserva otro docente,
        no se cancela nada.

        La cancelación ocurre ANTES de quitar la asignación: si falla, la asignación
        se conserva y la operación se puede reintentar.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: materiaId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: docenteMateriaId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Asignación removida
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservasCanceladas:
                    type: integer
                    description: 0 si la materia conserva otro docente activo.

  # ══════════════════════════════
  # INVENTORY
  # ══════════════════════════════
  /api/inventory/carros:
    get:
      tags: [inventory]
      summary: Listar carros (cualquier usuario autenticado)
      description: |
        Visible para ADMIN y DOCENTE por igual — un docente necesita ver estado,
        freezado y softwareInstalado (ej. versión de AutoCAD) de cada PC para elegir
        cuáles reservar.
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Carro' } }
    post:
      tags: [inventory]
      summary: Crear carro (Admin)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nombre]
              properties:
                nombre: { type: string }
                descripcion: { type: string }
      responses:
        "201": { description: Carro creado }

  /api/inventory/carros/{id}:
    patch:
      tags: [inventory]
      summary: Editar carro (Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre: { type: string }
                descripcion: { type: string }
      responses:
        "200": { description: Carro actualizado }

  /api/inventory/carros/{carroId}/equipos:
    get:
      tags: [inventory]
      summary: Listar los equipos de un carro (RF-03.7, todos los usuarios autenticados)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: carroId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Equipo' }
    post:
      tags: [inventory]
      summary: Registrar un equipo en un carro (RF-03.2, Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: carroId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identificador, numeroSerie]
              properties:
                identificador: { type: integer, example: 27 }
                numeroSerie: { type: string, maxLength: 50, example: "5CD1234ABC", description: "Número de serie de fábrica, único en toda la institución. Alfanumérico: se guarda en mayúsculas y sin espacios al borde, así que la respuesta puede diferir de lo enviado" }
                freezado: { type: boolean, default: false, description: "Informativo: tiene Deep Freeze instalado" }
                cpu: { type: string }
                ram: { type: string }
                sistemaOperativo: { type: string }
                softwareInstalado: { type: string }
      responses:
        "201": { description: PC registrada }
        "409": { description: Ya existe una PC con ese identificador en el carro, o el número de serie ya está registrado en otra PC }

  /api/inventory/equipos/sueltos:
    get:
      tags: [inventory]
      summary: Listar lo prestable que no está en ningún carro (RF-03.15, todos los usuarios autenticados)
      description: |
        El proyector, los cargadores, las notebooks sueltas. Lo ve cualquier
        autenticado por el mismo motivo que los carros y las PCs (RF-03.7): un
        docente necesita saber que existe un proyector antes de pedirlo.

        Comparten entidad —y esquema de respuesta— con las PCs de carro, y eso
        es deliberado: "qué hay afuera del laboratorio" (RF-08) tiene que ser
        una sola lista. Ver el encabezado de la migración 015.
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Equipo' }
    post:
      tags: [inventory]
      summary: Registrar un equipo suelto (RF-03.15, Admin)
      description: |
        Ruta aparte de `/carros/{carroId}/equipos` y no un campo opcional suyo
        porque lo que se carga es distinto: acá no hay carro, ni identificador,
        ni número de serie, y lo que identifica al equipo es el nombre.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tipo, nombre]
              properties:
                tipo: { type: string, maxLength: 50, example: "PROYECTOR", description: "Texto libre: la lista de cosas que presta una escuela no es la de otra. El formulario sugiere los tipos ya cargados" }
                nombre: { type: string, maxLength: 100, example: "Proyector Epson", description: "Único entre los equipos sueltos, sin distinguir mayúsculas" }
                reservable: { type: boolean, default: false, description: "Marcar solo lo que alguien pueda querer planificar. Por defecto false: un cargador se presta en el momento y aparecería como ruido cada vez que un docente va a reservar" }
      responses:
        "201":
          description: Equipo registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Equipo' }
        "400": { description: Falta el tipo o el nombre, o exceden el largo }
        "409": { description: Ya hay otro equipo suelto con ese nombre }

  /api/inventory/equipos/{id}:
    patch:
      tags: [inventory]
      summary: Editar datos de un equipo, incluyendo moverlo de carro (Admin)
      description: |
        Sirve para los dos tipos de equipo, pero no todos los campos aplican a
        los dos: `carroId` y los de hardware son de una computadora de carro;
        `tipo`, `nombre` y `reservable` (RF-03.18) son de un equipo suelto.

        Quitar `reservable` NO cancela nada: el equipo deja de ofrecerse al
        armar una reserva, pero las que ya existen siguen en pie.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                carroId: { type: string, format: uuid, description: "Mueve la PC a otro carro (RF-03.10). El identificador debe seguir siendo único en el carro destino." }
                freezado: { type: boolean }
                cpu: { type: string }
                ram: { type: string }
                sistemaOperativo: { type: string }
                softwareInstalado: { type: string }
                tipo: { type: string, maxLength: 50, description: "RF-03.15" }
                nombre: { type: string, maxLength: 100, description: "RF-03.15. En un equipo suelto no puede quedar vacío: es lo único que lo distingue. En una PC de carro sí, porque ahí no cumple ninguna función" }
                reservable: { type: boolean, description: "RF-03.16" }
      responses:
        "200": { description: PC actualizada }
        "400": { description: Tipo o nombre vacíos o demasiado largos }
        "409": { description: Ya existe una PC con ese identificador en el carro destino, o el número de serie ya está registrado en otra PC }
    delete:
      tags: [inventory]
      summary: Dar de baja un equipo del inventario (Admin)
      description: |
        Soft delete: marca dado_de_baja=true y fecha_baja. No se borra la fila —
        incidencia y reserva la referencian por FK y ese historial se conserva.
        El equipo deja de listarse como disponible y no puede reservarse.
        Dispara la misma cascada de cancelación que el cambio de estado a
        FUERA_DE_SERVICIO (RF-03.9): cancela sus reservas futuras y notifica a
        los docentes afectados.

        **Un equipo prestado no se puede dar de baja**: devuelve 409. Dejaría el
        préstamo abierto sin ninguna pantalla desde donde cerrarlo. Hay que
        marcar primero que volvió. Cambiar el ESTADO sí se permite estando
        prestado — llevarle una máquina al técnico es justamente un préstamo.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Equipo dado de baja, con el detalle de la cascada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResultadoCascada' }
        "409":
          description: El equipo ya estaba dado de baja, o está prestado y todavía no volvió
          content:
            text/plain:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/inventory/equipos/{id}/estado:
    patch:
      tags: [inventory]
      summary: Cambiar estado de un equipo (Admin)
      description: |
        Al pasar a EN_MANTENIMIENTO o FUERA_DE_SERVICIO, cancela en cascada todas las
        reservas CONFIRMADA futuras de esa PC y notifica a cada docente afectado (RF-03.6).
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [estado]
              properties:
                estado: { type: string, enum: [DISPONIBLE, EN_MANTENIMIENTO, FUERA_DE_SERVICIO] }
                motivo:
                  type: string
                  nullable: true
                  description: "Opcional. Si se omite y el estado cancela reservas, se usa un mensaje por defecto."
      responses:
        "200":
          description: Estado actualizado, con el detalle de la cascada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResultadoCascada' }

  /api/reservation/equipos/{equipoId}/calendario:
    get:
      tags: [inventory]
      summary: Calendario de disponibilidad de un equipo (todos los usuarios autenticados)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: desde
          required: true
          schema: { type: string, format: date }
        - in: query
          name: hasta
          required: true
          schema: { type: string, format: date }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Reserva' }

  /api/inventory/incidencias:
    post:
      tags: [inventory]
      summary: Registrar incidencia sobre un equipo
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [equipoId, descripcion, gravedad]
              properties:
                equipoId: { type: string, format: uuid }
                descripcion: { type: string }
                categoria:
                  type: string
                  maxLength: 50
                  description: |
                    Opcional (RF-03.5): quien reporta no siempre sabe qué
                    falla. Texto libre; conviene tomarla de
                    `/api/inventory/incidencias/categorias` para no crear
                    variantes de una categoría que ya existe.
                  example: batería
                gravedad: { type: string, enum: [LEVE, MODERADA, GRAVE] }
      responses:
        "201": { description: Incidencia registrada }
        "400": { description: La categoría supera los 50 caracteres }

  /api/inventory/incidencias/{id}:
    patch:
      tags: [inventory]
      summary: Actualizar estado de incidencia (Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estado: { type: string, enum: [ABIERTA, EN_REPARACION, ENVIADA_DGE, RESUELTA] }
                categoria:
                  type: string
                  maxLength: 50
                  description: |
                    Clasificar después una falla que se reportó sin
                    diagnosticar. Mandarla vacía la devuelve a "sin
                    clasificar"; omitir el campo la deja como está.
                enviadoDGE: { type: boolean }
                fechaEnvioDGE: { type: string, format: date-time }
      responses:
        "200": { description: Incidencia actualizada }

  /api/reservation/reservas/{id}/equipo:
    patch:
      tags: [reservation]
      summary: Cambiar una reserva de computadora (RF-08.14)
      description: |
        Mueve la reserva a otra máquina libre en la misma franja, sin tocar
        fecha ni horario: es la misma clase.

        Existe porque la alternativa —cancelar esa PC y crear otra reserva—
        arma un ReservaGrupo nuevo, así que el docente terminaba con la misma
        clase mostrada como dos tarjetas separadas en "Mis reservas".

        Es de quien tenga la reserva, o de un Admin. Solo se puede cambiar
        una reserva CONFIRMADA: una cancelada, finalizada o liberada por no
        retiro ya no reserva nada.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [equipoId]
              properties:
                equipoId: { type: string, format: uuid, description: "La máquina nueva. Tiene que estar DISPONIBLE y libre en esa franja." }
      responses:
        "200":
          description: Reserva actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Reserva' }
        "400": { description: Falta la PC nueva }
        "403": { description: La reserva es de otra persona y quien pide no es Admin }
        "404": { description: La reserva no existe }
        "409": { description: La reserva ya no está vigente, o la PC nueva no está disponible o ya tiene reserva en esa franja }

  /api/reservation/prestamos:
    get:
      tags: [reservation]
      summary: Qué computadoras están afuera del laboratorio (Admin)
      description: |
        Los préstamos sin devolver, ordenados por hora de devolución: lo que
        debía haber vuelto hace más tiempo va primero, y lo que no tiene hora
        pactada al final.

        Solo Admin, incluida esta lectura. Que un docente pudiera consultar y
        marcarse entregas convertiría el registro en una declaración en vez
        de en una constancia.
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Listado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Prestamo' }
    post:
      tags: [reservation]
      summary: Entregar computadoras sin reserva detrás (Admin)
      description: |
        El préstamo espontáneo: "necesito una compu para hacer un trámite".

        Quien la recibe NO necesita tener cuenta —secretaría, preceptoría, un
        alumno—, así que `nombre` es obligatorio y `usuarioId` opcional.

        Si alguna PC ya está afuera, se informa en `noEntregadas` y el resto
        sale igual: el Admin tiene las otras máquinas en la mano, y hacerlo
        empezar de nuevo por una sola sería peor.

        `avisos` trae las reservas próximas de las máquinas entregadas. No
        impidió nada: el sistema no sabe cuánto va a durar un trámite.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [equipoIds, nombre]
              properties:
                equipoIds:
                  type: array
                  minItems: 1
                  items: { type: string, format: uuid }
                nombre: { type: string, maxLength: 200, example: "Marta (secretaría)" }
                usuarioId: { type: string, format: uuid }
                motivo: { type: string, example: "trámite" }
                devolucionEstimada: { type: string, format: date-time, description: "Opcional. Sin ella no se le reclama la devolución." }
      responses:
        "201":
          description: Lote procesado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResultadoEntrega' }
        "400": { description: Sin PCs o sin nombre }

  /api/reservation/prestamos/por-reserva:
    post:
      tags: [reservation]
      summary: Entregar las computadoras de una reserva (Admin)
      description: |
        Se mandan las Reserva puntuales (una por PC), no el grupo: el retiro
        es máquina por máquina, porque el docente puede llevarse tres de las
        cinco que reservó — y las otras dos siguen disponibles para otro.

        La hora en que deben volver sale del fin de la reserva; no se manda.

        Responde 200 aunque alguna PC no haya salido; qué pasó con cada una
        está en `noEntregadas`. Un 409 obligaría a la pantalla a deshacer las
        que sí se entregaron, que ya están en manos del docente.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reservaIds]
              properties:
                reservaIds:
                  type: array
                  minItems: 1
                  items: { type: string, format: uuid }
                retiradoPor:
                  type: string
                  maxLength: 200
                  example: "Juan (alumno de 5°A)"
                  description: |
                    Quién vino físicamente a buscarlas, si no fue el docente
                    de la reserva. Es opcional: hay instituciones que quieren
                    poder reconstruir quién pasó por el mostrador y otras a
                    las que ese dato les sobra.

                    NO cambia de quién es la responsabilidad. El préstamo
                    queda a nombre del docente y atado a su cuenta, porque él
                    reservó y a él se le reclama si los equipos no vuelven;
                    quien los retira muchas veces ni siquiera tiene cuenta en
                    el sistema. Ver RF-08.19.
      responses:
        "200":
          description: Lote procesado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResultadoEntrega' }
        "400": { description: Sin reservas indicadas }
        "404": { description: Alguna de las reservas no existe }

  /api/reservation/prestamos/recibir:
    post:
      tags: [reservation]
      summary: Registrar que las computadoras volvieron (Admin)
      description: |
        Devolver tres de cuatro no necesita nada especial: la cuarta sigue
        figurando afuera.

        Recibir dos veces la misma máquina no corta nada —pasa con dos Admin
        en el mostrador o un doble clic— y se informa en `noRecibidos`: lo
        que el Admin quería, que la máquina figure adentro, ya pasó.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prestamoIds]
              properties:
                prestamoIds:
                  type: array
                  minItems: 1
                  items: { type: string, format: uuid }
                observaciones:
                  type: string
                  example: "volvió sin el cargador"
                  description: |
                    Se guarda en TODAS las del lote. Si es sobre una sola
                    máquina, conviene recibirla aparte: atarla a cinco filas
                    diría de las otras cuatro algo que no pasó.
      responses:
        "200":
          description: Lote procesado
          content:
            application/json:
              schema:
                type: object
                properties:
                  recibidos:
                    type: array
                    items: { $ref: '#/components/schemas/Prestamo' }
                  noRecibidos:
                    type: array
                    items:
                      type: object
                      properties:
                        prestamoId: { type: string, format: uuid }
                        detalle: { type: string }
        "400": { description: Sin préstamos indicados }
        "404": { description: Alguno de los préstamos no existe }

  /api/reservation/equipos/{equipoId}/prestamos:
    get:
      tags: [reservation]
      summary: Historial de entregas de una computadora (Admin)
      description: |
        De lo más reciente a lo más viejo. Sobrevive al archivado del ciclo
        lectivo: al borrarse las reservas (RF-02.4) el préstamo queda sin
        reserva asociada, pero el registro de quién se llevó la máquina vale
        por sí mismo.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: equipoId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Listado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Prestamo' }

  /api/inventory/licencias:
    get:
      tags: [inventory]
      summary: Listar todas las licencias de software con su ubicación (Admin)
      description: |
        Solo Admin, incluida la lectura: el docente elige PC por
        `softwareInstalado`, que ya ve en la pantalla de reserva.

        Sin paginar, como el resto de los listados acotados por el dominio
        (ciclos, cursos, carros): la cantidad la limita el inventario, no el uso.

        Vienen ordenadas para la pantalla: primero las que no tienen fecha
        —hay que ir a mirar la máquina—, después de la más vencida a la que
        más le falta.
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Listado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Licencia' }
    post:
      tags: [inventory]
      summary: Cargar la misma licencia en varios equipos (Admin)
      description: |
        Alta masiva: el caso real es "AutoCAD, 30 días, en estas ocho máquinas",
        de uno o de varios carros.

        Una PC que ya tiene esa licencia se **saltea y se informa**, no aborta
        el lote. Eso hace que el request sea REINTENTABLE: si algo falla en la
        PC número seis, volver a mandarlo completa lo que falta sin duplicar lo
        que ya entró. Por eso responde 201 aunque haya salteado algunas — un
        409 obligaría a la pantalla a deshacer lo que sí se creó.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required: [equipoIds, nombre, diasDuracion]
                  properties:
                    equipoIds:
                      type: array
                      minItems: 1
                      items: { type: string, format: uuid }
                    nombre: { type: string, maxLength: 100, example: "AutoCAD 2027" }
                    diasDuracion: { type: integer, minimum: 1, maximum: 3650, example: 30 }
                    diasAviso: { type: integer, minimum: 0, maximum: 365, default: 1 }
                - $ref: '#/components/schemas/VencimientoDeclarado'
      responses:
        "201":
          description: Lote procesado
          content:
            application/json:
              schema:
                type: object
                properties:
                  creadas:
                    type: array
                    items: { $ref: '#/components/schemas/Licencia' }
                  equiposQueYaLaTenian:
                    type: array
                    items: { type: string, format: uuid }
                    description: "No es un error: marcar las diez PCs del carro cuando ocho ya estaban cargadas tiene que funcionar."
        "400": { description: Sin PCs, nombre o días inválidos, o vencimiento declarado de más de una forma }

  /api/inventory/licencias/renovar:
    post:
      tags: [inventory]
      summary: Renovar varias licencias de una vez (Admin)
      description: |
        Es POST sobre un sub-recurso y no PATCH sobre cada licencia porque
        renovar ocho máquinas es UNA acción: partirla en ocho requests dejaría
        la pantalla con cuatro renovadas y cuatro no si se corta la conexión.

        Las que todavía no tienen vencimiento cargado NO se renuevan: se
        informan en `sinFechaPrevia`. Renovar mueve un contador que ya existe;
        cargar la fecha por primera vez se hace con el PATCH, donde hay que
        decir CÓMO se sabe. Sin esa guarda, "Renovar" sería la forma fácil de
        sacarse de encima una licencia sin verificar poniéndole días que nadie
        confirmó.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [licenciaIds]
              properties:
                licenciaIds:
                  type: array
                  minItems: 1
                  items: { type: string, format: uuid }
                renovadaEl:
                  type: string
                  format: date
                  description: |
                    Ausente = hoy, el caso normal. Con fecha, es el del olvido:
                    se renovaron el martes y se cargan el jueves. El contador
                    arranca en la fecha real, no en la de la carga.
      responses:
        "200":
          description: Lote procesado
          content:
            application/json:
              schema:
                type: object
                properties:
                  renovadas:
                    type: array
                    items: { $ref: '#/components/schemas/Licencia' }
                  sinFechaPrevia:
                    type: array
                    items: { type: string, format: uuid }
        "400": { description: Sin licencias indicadas }
        "404": { description: Alguna de las licencias no existe }

  /api/inventory/licencias/{id}:
    patch:
      tags: [inventory]
      summary: Editar una licencia, incluido su vencimiento (Admin)
      description: |
        El "editar el contador en cualquier momento" de RF-03.13: corregir una
        fecha que quedó mal, cambiar la duración de 30 a 60 días, o cargar por
        primera vez el vencimiento de una licencia dada de alta sin él.

        Cambiar `diasDuracion` **no mueve** el vencimiento vigente: la licencia
        instalada hoy se compró con las condiciones viejas y sigue venciendo
        cuando vencía; lo que cambia es cuánto durará la próxima renovación.
        Para recalcularlo ahora hay que mandar además `renovadaEl` con la
        última renovación conocida — explícito, no como efecto colateral.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    nombre: { type: string, maxLength: 100 }
                    diasDuracion: { type: integer, minimum: 1, maximum: 3650 }
                    diasAviso: { type: integer, minimum: 0, maximum: 365 }
                - $ref: '#/components/schemas/VencimientoDeclarado'
      responses:
        "200": { description: Licencia actualizada }
        "400": { description: Datos inválidos, o vencimiento declarado de más de una forma }
        "404": { description: La licencia no existe }
        "409": { description: Esa PC ya tiene otra licencia con ese nombre }
    delete:
      tags: [inventory]
      summary: Quitar una licencia (Admin)
      description: |
        Borrado real, no baja lógica: de una licencia no cuelga nada —ni
        reservas, ni incidencias, ni historial— así que conservarla solo
        dejaría ruido en la pantalla.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Licencia eliminada }
        "404": { description: La licencia no existe }

  /api/inventory/equipos/{equipoId}/licencias:
    get:
      tags: [inventory]
      summary: Licencias de un equipo puntual (Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: equipoId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Listado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Licencia' }

  # ══════════════════════════════
  # RESERVATIONS
  # ══════════════════════════════
  /api/reservation/equipos-disponibles:
    get:
      tags: [reservations]
      summary: Listar equipos disponibles para tildar en un horario dado
      description: |
        Devuelve PCs de todos los carros por defecto — un docente puede combinar PCs
        de carros distintos en la misma reserva (no hay restricción de "un solo carro
        por ReservaGrupo"). El filtro carroId es opcional, para cuando el usuario
        quiere ver solo las PCs de un carro puntual. Excluye PCs con dado_de_baja=true
        o estado != DISPONIBLE.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: fecha
          required: true
          schema: { type: string, format: date }
        - in: query
          name: horaInicio
          required: true
          schema: { type: string, example: "10:00" }
        - in: query
          name: horaFin
          required: true
          schema: { type: string, example: "11:30" }
        - in: query
          name: carroId
          schema: { type: string, format: uuid, description: "Opcional — filtra a un solo carro si se especifica" }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Equipo' } }

  /api/reservation/reservas:
    get:
      tags: [reservations]
      summary: Listar reservas agrupadas (propias si Docente, todas si Admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: desde
          schema: { type: string, format: date }
        - in: query
          name: hasta
          schema: { type: string, format: date }
        - in: query
          name: equipoId
          schema: { type: string, format: uuid }
        - in: query
          name: materiaId
          schema: { type: string, format: uuid }
        - in: query
          name: estado
          schema: { type: string, enum: [CONFIRMADA, PARCIALMENTE_CANCELADA, CANCELADA, FINALIZADA, NO_RETIRADA] }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/ReservaGrupo' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        "400": { description: page o pageSize inválidos }
    post:
      tags: [reservations]
      summary: Crear reserva (uno o varios equipos en un solo grupo)
      description: |
        Operación transaccional: si alguna PC del arreglo tiene solapamiento, no se
        confirma ninguna — la respuesta 409 detalla qué PC(s) puntual(es) fallaron
        para que el usuario las destilde y reintente con el resto.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReservaRequest' }
      responses:
        "201":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReservaGrupo' }
        "400":
          description: |
            Fecha o rango horario rechazados: sábado o domingo (la semana lectiva es
            de lunes a viernes), un bloque que ya terminó, o una duración mayor a 8
            horas (un turno completo).
        "403": { description: Sin permiso para reservar en esa materia }
        "409":
          description: |
            Una o más PCs elegidas tienen solapamiento — no se crea ninguna.

            El cuerpo es el mensaje en texto plano, sin el detalle de cuáles
            chocaron: el backend usa el ErrorHandler por defecto de Fiber (ver
            ErrorResponse). La pantalla vuelve a pedir la lista de libres, que
            para entonces ya no las incluye.
          content:
            text/plain:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/reservation/reservas/recurrentes:
    post:
      tags: [reservations]
      summary: Crear reserva recurrente (uno o varios equipos, valida todas las ocurrencias antes de crear)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReservaRecurrenteRequest' }
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object
                properties:
                  reglaId: { type: string, format: uuid }
                  grupos:
                    type: array
                    description: Un ReservaGrupo por cada fecha materializada.
                    items: { $ref: '#/components/schemas/ReservaGrupo' }
        "409":
          description: |
            Una o más ocurrencias (fecha × PC) tienen solapamiento — no se crea
            ninguna. Cuerpo en texto plano, igual que el alta puntual.
          content:
            text/plain:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/reservation/grupos/{id}:
    get:
      tags: [reservations]
      summary: Ver el detalle de un grupo de reserva (con el estado de cada equipo)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReservaGrupo' }

  /api/reservation/grupos/{id}/cancelar:
    post:
      tags: [reservations]
      summary: Cancelar un ReservaGrupo (RF-04.6)
      description: |
        `soloEsta: true` cancela únicamente esa fecha; `false` cancela esa y
        todas las ocurrencias futuras de la misma regla de recurrencia.
        Mismo criterio de motivo obligatorio que cancelar una Reserva ajena.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motivo: { type: string }
                soloEsta: { type: boolean, default: true }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservasCanceladas: { type: integer }
        "403": { description: No es tu reserva y no sos Admin }

  /api/reservation/reservas/{id}/cancelar:
    post:
      tags: [reservations]
      summary: Cancelar la Reserva de un equipo puntual
      description: |
        Un docente solo puede cancelar las suyas; un Admin, cualquiera.
        RF-04.8: si la reserva es de otra persona el motivo es OBLIGATORIO
        (se rechaza con 400 si viene vacío) — ese texto es el que recibe el
        docente en la notificación (RF-05.1).

        No es un DELETE a propósito: dentro de un ciclo lectivo activo las
        reservas nunca se eliminan, se marcan CANCELADA (RF-04.9).
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid, description: "id de la Reserva puntual, no del grupo" }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motivo: { type: string }
      responses:
        "200": { description: Cancelada. Si la canceló otra persona, el docente recibe la notificación con el motivo (RF-05.1) }
        "400": { description: Falta el motivo al cancelar una reserva ajena }
        "403": { description: No es tu reserva y no sos Admin }
        "404": { description: No encontrada }

  /api/reservation/bloqueos:
    post:
      tags: [reservations]
      summary: Bloquear equipos en un rango horario definido, indicando por qué (Admin)
      description: |
        Un Admin toma los equipos para otra cosa, por el motivo que sea.

        Cancela solo las Reserva puntuales en conflicto dentro del rango exacto — el
        resto de una recurrencia u otras PCs del mismo grupo siguen vigentes. Los
        grupos afectados pasan a PARCIALMENTE_CANCELADA o CANCELADA según corresponda.

        Hasta la migración 019 esta operación se llamaba "bloqueo por evaluación
        estatal" y vivía en `/bloqueos-evaluacion`. Era un caso concreto usado como
        categoría, y el nombre viejo aparecía hasta en el aviso que recibía el
        docente al que le cancelaban la clase.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
[...]
